.col-1 {
    background-color: #FFFFFF;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}
